@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #E7DFDD;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  background-color: #060608;
  background-repeat: no-repeat;
}

header{
  height: 100vh;
}

nav{
  display: flex;
  justify-content: space-around;
}

.logo{
  margin-top: 2.5vh;
}

nav ul{
  display: flex;
  align-items: center;
  width: 50vw;
  justify-content: space-between;
}

.btn{
  background-color:#23BE53 ;
  border-radius: 30px;
  padding: 10px 24px;
}

.menu{
  display: flex;
  width: 80vh;
  justify-content: space-between;
  font-size: 20px;
}

.layout{
  display: flex;
  height: 100vh;
}

.card{
  width: 50vw;
  display: flex;
  align-items: center;
  padding-left:9vw;
  height: 80vh;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  
}

.card .pipe{
  font-weight: 700;
  color: #23BE53;
}

.card span{
  font-weight: 700;
  margin-left: 10px;
}

.descrition {
  width: 30vw;
}

h1{
  color: #23BE53;
}

.images{
  width: 50vw;
  position: relative;
}

.back .vector{
  height: 50vh;
  transform: rotate(-12deg);
  position: absolute;
  left: 4vw;
  top: 15vh;
}

.back .top{
  transform: rotate(10deg);
  position: absolute;
  left: 4vw;
  top: 10vh;
}

.html{
  position: absolute;
  top: 4vh;
  height: 10vh;
}
.css{
  position: absolute;
  right: 11.5vw;
  top: 4vh;
  height: 10vh;
}

.js{
  position: absolute;
  bottom: 20vh;
  left:10vw ;
  height: 15vh;
 
}

.socials{
  display: flex;
  justify-content: center;
  height: 18vh;
}

.icons{
  display: flex;
  justify-content: space-between;
  width: 15vw;
}

section{
  height: 100vh;
}

.box{
  display: flex;
  color: #E7DFDD;
  position: relative;
  align-items: center;
  height: 100vh;
  /* background-color: darkmagenta; */
}

.subtitulo{
  /* background-color: darkorange; */
  display: flexbox;
}



.fundoOne{
  display: flex;
  justify-content: center;
  transform: rotate(1deg);
  /* background-color: seagreen; */
  height: 60vh;
  width: 60vw;
}

.fundothre{
  display: flex;
  justify-content: center;
  transform: rotate(-25deg);
  margin-right:50px ;
  /* background-color: skyblue; */
  height: 50vh;
  width: 50vw;
}

.boxHtml{
  
  background-color:#060608;
  height: 60vh;
  width: 20vw;
  position: absolute;
  left: 30vh;
  bottom: 0vh;
  border-radius: 20px;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#23BE53;
  height: 16vh;
  font-size: 18px;
}